/*
* @Author: Ed_Strickland
* @Date:   2016-04-15 04:48:52
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-04-15 18:46:01
*/
/*
* @Author: Ed_Strickland
* @Date:   2016-04-14 19:07:33
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-04-15 03:27:36
*/
#btn-chat{
  position:fixed;
  right:0px;
  bottom:0px;
  height:40px;
  line-height:40px;
  padding-left:20px;
  padding-right:20px;
  color:#929292;
  text-align:center;
  background-color:#fff;
  box-shadow:-1px -1px 3px #959595;
}
#btn-chat:hover{
  text-decoration:none;
  cursor:pointer;
}
#chatroom{
  position:fixed;
  right:0px;
  bottom:0px;
  height:400px;
  width:500px;
  border:1px solid #CBCBCB;
  background-color:#fff;
  box-shadow:0px 0px 5px #959595;
}
#chatroom-left{
  float:left;
  height:100%;
  width:34%;
  border-right:1px solid #CBCBCB;
}
#chatroom-left-title{
  padding-left:20px;
  border-bottom:1px solid #CBCBCB;
  height:40px;
  line-height:40px;
}
#chatroom-left-title>p{
  margin:0;
  font-weight:bold;
}
#chatroom-left-content{
  overflow-y:auto;
}
#chatroom-left-userlist{
  list-style:none;
  padding:0;
  margin:0;
}
.chatroom-left-userlist-item{
  height:40px;
  line-height:40px;
  border-bottom:1px solid #CBCBCB;
}
.id{
  float:left;
  display:block;
  width:132px;
  padding-left:20px;
  color:#606060;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.id:hover{
  color:#606060;
  cursor:pointer;
  text-decoration:none;
}
.btn-delete{
  float:left;
  margin-left:18px;
  margin-right:10px;
  color:#C8C8C8;
}
.btn-delete:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
.item-activated{background-color:#E7E7E7}
.item-deactivated{}
#chatroom-right{
  float:left;
  height:100%;
  width:66%;
}
#chatroom-right-title{
  padding-left:20px;
  border-bottom:1px solid #CBCBCB;
  height:40px;
  line-height:40px;
}
#chatroom-right-title-content{
  float:left;
  width:268px;
  margin:0px;
}
#chatroom-right-title-content>p{
  float:left;
  margin:0px;
  font-weight:bold;
}
#chatroom-right-title-content>p:hover{cursor:default;}
#toName{
  float:left;
  display:block;
  max-width:160px;
  padding-left:5px;
  padding-right:5px;
  color:#606060;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
#toName:hover{
  color:#606060;
  cursor:default;
  text-decoration:none;
}
#btn-minimize{
  text-align:center;
  font-weight:bold;
  float:left;
  height:40px;
  line-height:40px;
  width:40px;
  border-left:1px solid #CBCBCB;
  color:#626262;
}
#btn-minimize:hover{
  text-decoration:none;
  cursor:pointer;
}
.target-message{
  height:67%;
  overflow-y:auto;
  border-bottom:1px solid #CBCBCB;
  background-color:#E7E7E7;
}
#target-message{
  background-color:#fff;
}
#message-input{
  width:100%;
  height:23%;
}
#message{
  width:100%;
  resize:none;
  border:0;
  background-color:transparent;
  height:69%;
  outline:none;
}
#alert{
  float:right;
  margin-bottom:5px;
  margin-right:5px;
  color:#7C7C7C;
}
#alert:hover{
  cursor:default;
}
#btn-send{
  float:right;
  margin-bottom:5px;
  margin-right:5px;
  color:#4E4E4E;
}
#btn-send:hover{
  text-decoration:none;
  cursor:pointer;
  color:#000;
}
.message-box{
  width:100%;
  /*min-height:80px;*/
}
.fromMessage{
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  float:left;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:10px;
  line-height:1em;
  max-width:200px;
  color:#fff;
  background-color:#4C4C4C;
}
.fromMessage>p{
  line-height:1.5em;
  margin:0px;
  word-wrap:break-word;
}
.toMessage{
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  float:right;
  margin-right:15px;
  margin-top:10px;
  margin-bottom:10px;
  line-height:1em;
  max-width:200px;
  color:#fff;
  background-color:#C8C8C8;
}
.toMessage>p{
  line-height:1.5em;
  margin:0px;
  word-wrap:break-word;
}
#receive-time{
  margin-top:10px;
  width:100%;
  text-align:center;
}
#receive-time>p{
  color:#A8A8A8;
  text-shadow:none;
}




#msg-box{
  min-height:40px;
  width:100%;
}
#asdf{
  margin-right:20px;
}
#msg{
  padding: 5px 11px;
  max-width: 400px;
  min-height: 21px;
  background: #d7e9ff;
  border: 1px solid #000;
  border-radius: 1px;
  line-height: 21px;
  font-size: 12px;
  float: right;
  position: relative;
  word-wrap: break-word;
  _zoom: 1!important;
}
#msg:after{
  position:absolute;
  background-image: url(../html/frame/test.png);
  width:20px;
  height:20px;
  top: 7px;
  right: -7px;
  width: 7px;
  height: 8px;
  content: '';
}
