/*
* @Author: Ed_Strickland
* @Date:   2015-11-21 22:38:32
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-03-26 11:49:27
*/
/*NAVBAR*/
#logo{
  margin-left:10px;
}
#logo > span{
  height:40px;
  line-height:40px;
  font-size:20px;
}
#project-add-btn>span{
  padding:10px;
  font-size:18px;
}
#user>span{
  padding:10px;
  font-size:20px;
}
#personal-center-btn>span{
  padding:10px;
  font-size:18px;
}
#logout>span{
  padding:10px;
  font-size:20px;
}
#login-btn>span{
  padding:10px;
  font-size:20px;
}
#project-list-btn{
  float:left;
  color:#9d9d9d;
}
#project-list-btn:hover{
  cursor:pointer;
}
#project-list-btn:hover{
  color:#fff;
}
#project-list-btn:selected{
  color:#9d9d9d;
}
#project-list-btn>span{
  padding:10px;
  font-size:18px;
}

#user-btn>span{
  padding:10px;
  font-size:18px;
}

#avatar{height:70px; margin-left:10px;}
.navbar-fixed-top{border:0px;}
/*END-OF-NAVBAR*/

/*PROJECT-ADD*/
#project-add{list-style:none;}
#project-add>li{float:right;}
#add-block{
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  width:35px;
  height:120px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:#000;
  box-shadow: #9d9d9d 3px 3px 5px;
  font-size:18px;
  line-height:30px;
  text-align:center;
  vertical-align:center;
}
#add{
  display:block;
  color:#9d9d9d;
}
#add:hover{
  color:#fff;
  text-decoration:none;
}
#add:focus{
  text-decoration:none;
}
#add:active{
  text-decoration:none;
}
#add:visited{
  text-decoration:none;
}
/*END-0F-PROJECT-ADD*/

/*CONTENT*/
#container-content{
  padding-top:0px;
}
#content{
  margin:0px;
  margin-left:55px;
  padding:0px;
  padding-bottom:25px;
}
.content-item{
  width:300px;
  height:200px;
  margin-left:30px;
  margin-top:30px;
  border:1px solid #D1D1D1;
  box-shadow:0px 0px 3px #d2d2d2;
  float:left;
  display:block;
}
.content-item:hover{
  border-color:#8D8D8D;
  background-color:#EAE9E9;
}
.content-item:active{
  background-color: #d9d8d8;
}
/*.content-item:active p{*/
  /*color:#F6F6F6;*/
/*}*/
/*.content-item:active h3{*/
  /*color:#F6F6F6;*/
/*}*/
.text:hover{
  cursor:pointer;
}
.text{
  padding:15px;
  height:145px;
  padding-bottom:0px;
}
.btn-container{
  float:left;
  width:50px;
  margin-bottom:15px;
  margin-left:15px;
  margin-top:0px;
}
.result{
  padding-top:20px;
  color:#A9A9A9;
  float:right;
  margin-bottom:15px;
  margin-right:15px;
  margin-top:0px;
}
.btn-select{
  background-color:#868686;
  line-height:40px;
  padding:10px;
  color:#D3D3D3;
  text-decoration:none;
}
.btn-select:hover{
  background-color:#CBCBCB;
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
.btn-select:visited{
  text-decoration:none;
}
.btn-select:active{
  background-color:#5E5E5E;
  color:#898989;
  text-decoration:none;
}
.btn-select:focus{
  background-color:#CBCBCB;
  color:#fff;
  text-decoration:none;
}
/*END-OF-CONTENT*/

/*BOTTOM*/
#bottom {
  text-align:center;
  color:#B3B3B3;
}

#bottom>ul{padding:0;padding-bottom:10px;margin-bottom:0px;}
#bottom li{
  display:inline;
  text-decoration:none;
}
/*END-OF-BOTTOM*/
/*COLOR*/
.grey-0{background-color:#3D3D3D;}
.grey-1{background-color:#868686;}
.grey-2{background-color:#DCDCDC;}
.grey-3{background-color:#E7E7E7;}
.grey-4{background-color:#E8E8E8;}
.white{
  background-color: #fff;
  filter:alpha(opacity=100); /*支持 IE 浏览器*/
  -moz-opacity:1.00; /*支持 FireFox 浏览器*/
  opacity:1.00; /*支持 Chrome, Opera, Safari 等浏览器*/}
.transparent{
  filter:alpha(opacity=70); /*支持 IE 浏览器*/
  -moz-opacity:0.70; /*支持 FireFox 浏览器*/
  opacity:0.70; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.shadow{box-shadow:0px 5px 10px #A0A0A0;}
/*END-OF-COLOR*/

/*FLOAT*/
#clearfix{
  *zoom:1;
}

.clearfix:before,
.clearfix:after{
  display:table;
  line-height:0;
  content:"";
}

.clearfix:after{
  clear:both;
}
/*END-OF-FLOAT*/

#title{
  margin-top:30px;
  height:50px;
  color:#fff;
  text-shadow:2px 2px 10px #5D5D5D;
}

/*VOTE*/
#vote-link{
  float:right;
  margin-right:70px;
  margin-bottom:25px;
  color:#A9A9A9;
  text-decoration:none;
}
#vote-link:hover{
  color:#CBCBCB;
  text-decoration:none;
}
#vote-link:visited{
  color:#A9A9A9;
  text-decoration:none;
}
#vote-link:active{
  color:#5E5E5E;
  text-decoration:none;
}
#vote-link:focus{
  color:#CBCBCB;
  text-decoration:none;
}
/*END-OF-VOTE*/

#login-btn:hover{
  cursor:pointer;
}

#showcase{
  margin-top:0px;
  height:360px;
  padding-bottom: 0px;
  box-shadow: #000 1px 1px 5px;
  color: #fff;
  text-align: center;
  text-shadow: #595353 2px 2px 6px;
}
#showcase > h1{
  margin-top:0px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 70px;
}
#showcase > h2{
}
#showcase > p{
  padding:50px;
}
#find-project{
  color: #fff;
  padding:7px;
  font-size: 50px;
  text-decoration: none;
  line-height: 25px;
  border: 5px solid #fff;
  box-shadow: #595353 1px 1px 5px inset, #595353 1px 1px 5px;
}
.contain{
  width:1080px;
  padding-left:100px;
  padding-right:100px;
  margin-left:auto;
  margin-right:auto;
}
.label{
  border-radius:0px;
}
.select-type{
  margin-top:70px;
  line-height:50px;
  height:50px;
  box-shadow:1px -1px 10px #6B6B6B;
  box-shadow:-1px -1px 10px #6B6B6B;
}
.select-type-list{
  height:50px;
  margin-bottom:0px;
}
.select-type-list-item{
  height:50px;
  display:inline-block;
  list-style:none;
  padding-left:20px;
  padding-right:20px;
}
.select-type-list-item>a{
  color:#9d9d9d;
  padding:15px;
  line-height:16px;
}
.select-type-secondary-list{
  padding-left:30px;
  min-width:140px;
  list-style:none;
  margin-top:-7px;
  box-shadow:rgba(0,0,0,0.16) 0 2px 4px;
}
.select-type-secondary-list-item{
  list-style:none;
}
.select-type-secondary-list-item>a{
  color:#9d9d9d;
}
.select-type-secondary-list-item>a:hover{
  cursor:pointer;
}
.select-type-secondary-list{
  position:absolute;
  z-index:1000;
}
#title-line-d{
  height:31%;
  margin-top:16%;
  width:5px;
  top:0;
  bottom:0;
  background-color:#727272;
  display:inline-block;
}
#project-search{
  top:0;
  bottom:0;
  margin:auto;
  position:relative;
  line-height:100%;
  height:100%;
  background-color:#3D3D3D;
  border:none;
  outline:none;
  color:#9d9d9d;
  float:left;
  padding-left:10px;
}
#project-search-holder{
  display:inline-block;
  margin-top:15px;
  margin-left:40px;
  height:40px;
  border:1px solid #9d9d9d;
}
.select-item:hover{
  cursor:pointer;
}