/*
* @Author: Ed_Strickland
* @Date:   2016-04-14 19:07:33
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-04-15 03:27:36
*/

.target-message{
  padding:0px;
  height:350px;
  width:100%;
  border-bottom:1px solid #C8C8C8;

  overflow-y :yes;
  overflow-y :auto;
}
#message-input{
  min-height:74px;
}
#message{
  margin-top:30px;
  margin-left:20px;
  min-width:617px;
  max-width:617px;
}
#alert{
  text-shadow:none;
  float:right;
  color:#C8C8C8;
  margin-top:15px;
  margin-right:20px;
  height:30px;
  line-height:30px;
}
#btn-send{
  width:70px;
  height:30px;
  line-height:30px;
  margin-right:20px;
  margin-top:15px;
  margin-bottom:20px;
  text-align:center;
  background-color:#C8C8C8;
  color:#fff;
  float:right;
}
#btn-send:hover{
  cursor:pointer;
  text-decoration:none;
  background-color:#5C5C5C
}
.message-box{
  width:100%;
  /*min-height:80px;*/
}
.fromMessage{
  padding:10px;
  float:left;
  margin-left:30px;
  margin-top:13px;
  margin-bottom:12px;
  line-height:1em;
  max-width:200px;
  color:#fff;
  background-color:#4C4C4C;
}
.fromMessage>p{
  line-height:1.5em;
  margin:0px;
}
.toMessage{
  padding:10px;
  float:right;
  margin-right:30px;
  margin-top:13px;
  margin-bottom:12px;
  line-height:1em;
  max-width:200px;
  color:#fff;
  background-color:#C8C8C8;
}
.toMessage>p{
  line-height:1.5em;
  margin:0px;
}
#receive-time{
  margin-top:10px;
  width:100%;
  text-align:center;
}
#receive-time>p{
  color:#A8A8A8;
  text-shadow:none;
}
