/*
* @Author: Ed_Strickland
* @Date:   2016-03-18 13:50:32
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-03-21 05:23:31
*/

#content{
  margin-left:0px;
}

.personal-center p{
  text-shadow:1px 1px 1px #A5A5A5;
}

.personal-center{
  border:1px solid #C8C8C8;
  left:0;
  right:0;
  margin:auto;
  width:800px;
  /*min-height:560px;*/
}
.personal-center-left-content{
  float:left;
}
.personal-center-avatar{
  width:140px;
  height:140px;
  padding-top:20px;
  padding-left:25px;
  padding-right:25px;
  border-bottom:1px solid #C8C8C8;
}
#personal-center-avatar-img{
  width:90px;
  height:90px;
}
#personal-center-avatar-username{
  margin-top:0px;
  height:30px;
  line-height:30px;
  color:#666666;
  text-align:center;
}
.personal-center-control{}
.personal-center-control-list{
  margin-top:10px;
  list-style:none;
  padding-left:0px;
}
.personal-center-control-item{
  width:140px;
  height:40px;
  line-height:40px;
  text-align:center;
}
.item-activated{
  background-color:#666666;
}
.item-activated>a{
  color:#fff;
}
.item-deactivated{
  background-color:#E4E4E4;
}
.item-deactivated>a{
  color:#666666;
}
.personal-center-right-content{
  min-height:534px;
  border-left:1px solid #C8C8C8;
  float:left;
}
.personal-center-right-title{
  padding-left:15px;
  width:657px;
  height:50px;
  border-bottom:1px solid #C8C8C8;
  position:relative;
}
#title-line{
  height:30px;
  width:5px;
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
  background-color:#727272;
  display:inline-block;
}
.personal-center-right-title>p{
  padding-left:15px;
  height:50px;
  line-height:49px;
  display:inline-block;
  color:#666666;
}
.personal-center-right-item{
  float:left;
  width:390px;
  padding-right:30px;
}
.personal-center-right-item-project{
  float:left;
  padding-right:0px;
}
.personal-center-right-item-right{
  float:left;
  width:230px;
  padding-right:30px;
}
.personal-center-right-item-top{margin-bottom:40px;}
.personal-center-info{
  list-style:none;
  padding-left:0px;
}
.personal-center-info-item{
  color:#666666;
  margin-top:30px;
  margin-left:30px;
}
.personal-center-info-item-tag{margin-top:30px;}
.personal-center-info-item-right{
  margin-left:30px;
  color:#666666;
  margin-top:30px;
  display:inline-block;
}
.personal-center-info-item>p{
  float:left;
}
.personal-center-info-item>a{
}
.personal-center-project-item>p{
  display:inline-block;
}
.personal-center-project-item>a{
}
.pass{margin-top:125px;}
.personal-center-info-item-title{
  text-align:right;
  width:6em;
}
.personal-center-info-item-item{
  margin-left:40px;
  width:200px;
}
.personal-center-project-item-item{
  margin-left:40px;
  width:60%;
}
.personal-center-info-item-item-tech{
  margin-left:40px;
}
.personal-center-info-item-item-tech:hover{
  text-decoration:none;
  cursor:pointer;
}
.personal-center-password-now{
  margin-left:302px;
}
.personal-center-info-change{
  width:180px;
  height:30px;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  line-height:30px;
  background-color:#F3F3F3;
  border:1px solid#DEDEDE;
  box-shadow:0px 0px 5px #C7C7C7 inset;
}
.personal-center-info-change:focus{
   background-color:#FFFFEA;
}
.personal-center-info-change-textarea{
  width:180px;
  height:90px;
  resize:none;
  padding-left:5px;
  padding-right:5px;
  display:inline-block;
  background-color:#F3F3F3;
  border:1px solid#DEDEDE;
  box-shadow:0px 0px 5px #C7C7C7 inset;
}
.personal-center-info-change-textarea:focus{
   background-color:#FFFFEA;
}
.personal-center-info-item-item-tech-delete{
  line-height:5px;
  padding-left:5px;
  padding-right:5px;
  border-radius:10px 10px 10px 10px;
  border:2px solid #fff;
  color:#fff;
  font-weight:bolder;
  background-color:#C52020;
}
.personal-center-info-item-item-tech-delete:hover{
  color:#F2F2F2;
  background-color:#9E2D2D;
  text-decoration:none;
}
.personal-info-item-save{
  padding:10px;
  background-color:#898989;
  color:#fff;
  float:right;
  margin-right:30px;
  margin-bottom:30px;
}
.personal-info-item-save:hover{
  padding:10px;
  background-color:#898989;
  color:#E0DDDD;
  float:right;
  cursor:pointer;
  text-decoration:none;
}

.personal-center-project-names{
  margin-top:10px;
  border-bottom:1px solid #C8C8C8;
  width:657px;
  text-align:center;
}
.personal-center-project-tag{
  margin-left:10px;
  margin-right:10px;
  padding:10px;
  float:left;
  margin-bottom:10px;
}
.tag-activated{
  color:#E4E4E4;
  background-color:#666666;
}
.tag-activated:hover{
  color:#E4E4E4;
  text-decoration:none;
}

.tag-deactivated{
  background-color:#E4E4E4;
  color:#666666;
}
.tag-deactivated:hover{
  color:#666666;
  text-decoration:none;
}
.personal-center-project-info{
  border-bottom:1px solid #C8C8C8;
  width:657px;
  padding:20px;
}
.personal-center-project-info-list{
  list-style:none;
}
.personal-center-project-info-list>li{
}
.personal-center-project-info-list>li>p{
  float:left;
}
.personal-center-project-info>h3{
  margin-top:0px;
  text-align:center;
  font-weight:bold
}
.personal-center-project-edit{
  float:right;
}
.personal-center-project-developers{
  padding-left:50px;
  padding-top:20px;
  width:600px;
}
.personal-center-project-developer{
  height:90px;
  width:240px;
  border:1px solid #C8C8C8;
  float:left;
  margin-left:25px;
  margin-bottom:30px;
}
.personal-center-project-developer-avatar-div{
  float:left;
}
.personal-center-project-developer-username-div{
  width:150px;
  height:70px;
  margin:0px;
  float:left;
  padding:10px;
}
.personal-center-project-developer-avatar{
  height:88px;
  width:88px;
  border-right:1px solid #C8C8C8;
}
.personal-center-project-developer-username{
}
.personal-center-project-devoloper-delete-div{
  height:30px;
  width:30px;
  float:right;
}
.personal-center-project-devoloper-delete{
  line-height:5px;
  padding-left:5px;
  padding-right:5px;
  border-radius:10px 10px 10px 10px;
  border:2px solid #fff;
  color:#fff;
  font-weight:bolder;
  background-color:#C52020;
  margin-top:50px;
}
.personal-center-project-devoloper-delete:hover{
  color:#F2F2F2;
  background-color:#9E2D2D;
  text-decoration:none;
}
.next-page{
  padding:10px;
  color:#fff;
  background-color:#B4B4B4;
  float:right;
  margin-bottom:20px;
}
.next-page:hover{
  color:#B4B4B4;
  background-color:#7E7E7E;
  text-decoration:none;
}

.personal-center-message{
  margin-left:auto;
  margin-right:auto;
  height:70px;
  width:600px;
  border:1px solid #C8C8C8;
  margin-top:-1px;
  margin-bottom:0px;
}
.personal-center-message-container{
  padding:20px;
}
.personal-center-message-avatar{
  height:70px;
  width:70px;
  padding:10px;
  float:left;
}
.personal-center-message-avatar-img{
  height:48px;
  width:48px;
}
.personal-center-message-item{
  float:left;
  height:69px;
  width:380px;
  border-right:1px solid #C8C8C8;
}
.personal-center-message-message{
  height:70px;
  line-height:70px;
  text-align:center;
}
.personal-center-message-agreement{
  float:left;
  width:148px;
  height:70px;
  line-height:70px;
  text-align:center;
}
.personal-center-message-agree{
  margin-right:10px;
  color:#7C7B7B;
}
.personal-center-message-agree:hover{
  margin-right:10px;
  color:#5D5D5D;
  text-decoration:none;
}
.personal-center-message-disagree{
  margin-left:10px;
  color:#C71818;
}
.personal-center-message-disagree:hover{
  margin-left:10px;
  color:#953333;
  text-decoration:none;
}
.personal-center-project-end{
  padding:10px;
  word-spacing:10px;
  font-weight:bold;
  color:#F4F4F4;
  text-shadow:1px 1px 2px #717171;
  background-color:#FE4444;
  border-radius:3px;
}
.personal-center-project-end:hover{
  text-decoration:none;
  color:#D2D2D2;
  background-color:#B04242;
}




