/*
* @Author: Ed_Strickland
* @Date:   2016-03-17 13:10:49
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-04-16 03:52:39
*/
#markdown{
  min-height:420px;
  padding-left:150px;
  padding-right:150px;
  padding-top:70px;
  padding-bottom:120px;
  text-shadow:1px 1px 1px #A5A5A5;
}
#markdown img{
  width:100%;
}
#comments{
	 min-height:420px;
  padding-left:150px;
  padding-right:150px;
  padding-top:70px;
  padding-bottom:120px;
}
h1{
  font-weight:bold;
}
h2{
  font-weight:bold;
}
h3{
  font-weight:bold;
}
h4{
  font-weight:bold;
}
h5{
  font-weight:bold;
}
h6{
  font-weight:bold;
}
.project-title-box{
  margin-top:-1px;
  padding-left:150px;
  padding-right:150px;
  padding-top:50px;
  padding-bottom:30px;
}
.project-title-title{
  float:left;
  margin:0px;
  font-weight:bold;
  text-shadow:3px 3px 0 #D0D0D0;
}
.project-title-status{
  float:right;
  font-weight:bold;
  color:#9E9E9E;
}
.project-title-status:hover{
  float:right;
  font-weight:bold;
  color:#9E9E9E;
  text-decoration:none;
  cursor:default;
}
.project-title-require{
  float:left;
  margin-left:-5px;
  margin-right:0px;
  margin-top:20px;
  width:100%;
}
.project-title-require-item:hover{
  padding-right:5px;
  padding-left:5px;
  color:#000;
  cursor:default;
}
.project-title-require-item{
  padding-right:5px;
  padding-left:5px;
  color:#000;
}
.with-right-border{
  border-right:1px solid #DBDBDB;
}
.project-title-join{
  float:right;
  padding:5px;
  background-color:#6D6D6D;
}
.project-title-join>a{
  color:#fff;
}
.project-title-join>a:hover{
  color:#E5E5E5;
  text-decoration:none;
}
.shadow-top{
  box-shadow:2px 0 5px #5D5D5D,
            -2px 0 5px #5D5D5D;
}
.shadow-bottom{
  box-shadow:2px 0px 5px #5D5D5D,
            -2px 0px 5px #5D5D5D;
}
.box-border-top{
  border:1px solid #AEAEAE;
}
.box-border-bottom{
  border-bottom:1px solid #AEAEAE;
  border-left:1px solid #AEAEAE;
  border-right:1px solid #AEAEAE;
}
.project-join-title{
  text-shadow:2px 2px 0 #D0D0D0;
}
.project-join-user{
  text-align:center;
  width:102px;
  float:left;
  padding:10px;
  border:1px solid #BEBDBD;
  margin-top:20px;
  background-color:#fff;
  margin-left:21px;
  margin-right:21px;
}
.project-join-user-avatar{
  width:70px;
}
.project-join-user-username{
  margin-top:5px;
  margin:0px;
  height:20px;
  line-height:20px;
}
.project-user{
  padding-bottom:200px;
}
.time_slot{
  font-size: 12px;
text-shadow: initial;
text-align: right;
color: #8b8d90;
padding-top: 3px;
padding-right:5px;
}
.line{
	margin-top:0px !important;
}
.comment-demo{
	width:838px;
}
.comment-demo >textarea {
	width:100%;
	border:solid 1px rgba(0,0,0,0.15);
	border-radius:0.25em;
	background:rgba(0,0,0,0.02);
	padding-top:0.2em;
	padding-left:0.4em;
}
ul.action{
	padding-left:0;
	padding-top:0.2em;
}
ul.action li{
	display:inline-block;
	padding:0 1em 0 0;
	vertical-align:middle;

}
.reset-comment
{
	color:#000 !important;
	border:solid 1px !important;
	background-color:#fff;
	border-radius:3em;
	font-size:0.8em;
	height:calc(2.5em+2px);
	line-height:2.5em;
	border-color:rgba(0,0,0,0.55) !important;
	padding:0 3em;

}
.comment-send{
	color:#fff !important;
	background-color:#000 ;
	border:solid 1px !important;
	border-radius:3em;
	font-size:0.8em;
	height:calc(2.5em+2px);
	line-height:2.5em;
	border-color:rgba(0,0,0,0.55) !important;
	padding:0 3em;

}
.comment-section{
	max-height:500px;
	overflow-y:auto;
	overflow-x:hidden;
}
.comment-send-section{
	padding-top:6px;
}

#project-comment{}
#project-comment-title{}
.preject-comment-item{
}
.project-comment-img{
	padding:20px;
	float:left;
	width:140px;
	height:100%px;
	background-color:#EEEEEE;
	text-align:center;
}
.project-comment-img>img{
	height:100px;
	width:100px;
	padding:3px;
	background-color:#FBFBFB;
	border:1px solid #c8c8c8;
	margin-bottom:20px;
}
.project-comment-username{}
.project-comment-content{
	border-left:none;
	min-height:150px;
	width:696px;
	min-width:;
	float:left;
}
.project-comment-content-title>p{
	margin:0px;
}

.project-comment-content-time{
	float:right;
	margin:0px;
	height:40px;
	line-height:40px;
	margin-right:10px;
	color:#B3B3B3;
}
.project-comment-comment{
	margin:0px;
	min-height:220px;
}
.project-comment-comment>p{
  word-wrap:break-word;
	width:100%;
	margin:0px;
	padding:20px;
}
.project-comment-content-reply{
	float:right;
	height:40px;
	line-height:40px;
	margin-right:10px;
}

#project-comment-reply{
	width:100%;
}
#project-comment-reply-title{
	height:30px;
	line-height:30px;
	color:#C2C0C0;
	padding-left:10px;
	font-size:12px;
}
#project-comment-reply-box{
	border:1px solid #c8c8c8;
	margin-bottom:30px;
}
#project-comment-reply-content{
	width:100%;
	height:100px;
}
#project-comment-reply-content>textarea{
	padding:10px;
	border:none;
	outline:none;
	height:100%;
	width:100%;
	resize:none;
	font-size:15px;
}
#project-comment-reply-btn{
	margin-top:0px;
}
#project-comment-reply-btn>a{
	float:right;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	background-color:#C8C8C8;
	color:#fff;
}
#project-comment-reply-btn>a:hover{
	text-decoration:none;
	color:#EAEAEA;
	background-color:#878787
}