/*
* @Author: Ed_Strickland
* @Date:   2016-01-03 01:56:11
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-03-21 13:46:22
*/
#content-width{
  padding-top:0px;
  margin-bottom:20px;
}
#content{padding-top:20px;margin-left:30px;}
#search-box{
  display:inline;
  padding:0px;
}
#search-box-input{
  height:50px;
  width:502px;
  padding:0px;
  padding-left:5px;
  padding-right:5px;
  font-size:20px;
  border:0px;
  float:left;
  outline:none;
}
#search-box-inside{
  float:left;
  height:52px;
  width:514px;
  padding:0px;
  margin-left:250px;
  margin-top:20px;
  border:1px solid #BFBFBF;
}
#search-box-btn{
  font-siza:24px;
  float:left;
  height:52px;
  width:100px;
  margin-left:-1px;
  border:1px solid #989898;
  background-color:#989898;
  color:#fff;
  line-height:52px;
  margin-top:20px;
  text-align:center;
}
#search-box-btn:hover{
  cursor:pointer;
  background-color: #737373;
}
.classify{}
.tag-name{
  margin-left:4px;
  padding:2px;
  float:left;
  border:1px solid #989898;
  background-color:#989898;
  color:#fff;
  line-height:100%;
  margin-top:15px;
  margin-bottom:15px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none; /* you could also put this in a class */
  -webkit-user-select:none;/* and add the CSS class here instead */
  -ms-user-select:none;
  user-select:none;
}
.clicked{
  border:2px solid #D31919;
  margin-top:14px;
}
.tag-name:hover{
  cursor:default;
}



.project-list-box{
  margin-top:30px;
  width:240px;
  height:315px;
  text-align:center;
  border:1px solid #B8B8B8;
  border-radius:5px;
  float:left;
  margin-right:15px;
  margin-left:15px;
  box-shadow:0px 0px 5px #C2C2C2;
}
.project-list-img{
  width:238px;
  height:90px;
}
.project-list-img>img{
  width:100%;
  height:100%;
  border-radius:5px 5px 0px 0px;
}

.project-list-onclick:hover{cursor:default}

.project-list-info{
  padding-left:20px;
  padding-bottom:20px;
  padding-right:20px;
  padding-top:15px;
  border-bottom:1px solid #B8B8B8;
}
.project-list-info:hover{cursor:pointer;}
.project-list-info>h3{
  margin:0px;
  margin-bottom:5px;
  line-height:1em;
  font-weight:bold;
  cursor:default;
}
.project-list-info>h3:hover{cursor:pointer;}
.project-list-info>p{
  text-align:left;
  height:70px;
  margin-bottom:0px;
  cursor:default;
}
.project-list-info>p:hover{cursor:pointer;}
.project-list-skill{}
.project-list-skill>span{
  float:right;
  margin-left:5px;
  cursor:default;
}
.project-list-creator{
  padding:10px;
}
.project-list-creator-avatar{
  width:45px;
  float:left;
  margin-right:10px;
}
.project-list-creator-username{float:left;}
.project-list-creator-number{
  float:right;
  width:17px;
}
.project-list-creator-count{float:right;}
.project-list-creator-count:hover{
	cursor:default;
	text-decoration:none;
}
.project-list-date{
  width:100%;
  float:left;
  margin:0px;
  padding-top:5px;
  color:#B8B8B8
}
.btn-page{
  margin-left:10px;
  margin-right:10px;
  padding:10px;
  background-color:#898989;
  color:#FFFFFF;
}
.btn-page:hover{
  color:#E4E4E4;
  background-color:#A8A8A8;
  text-decoration:none;
}
.activated{
  background-color:#E4E4E4;
  color:#A8A8A8;
}
.activated:hover{
  background-color:#E4E4E4;
  color:#A8A8A8;
  border:1px solid #A8A8A8;
}

.sort-list-wrapper{
  margin-top:20px;
  margin-left:100px;
}
.sort-list{}
.sort-list-item{
  line-height:25px;
  height:25px;
  padding-left:20px;
  padding-right:20px;
  list-style:none;
  display:inline-block;
}
.sort-list-item:hover{
  cursor:pointer;
}
.sort-list-item>a{
  color:#000;
}
.sort-list-item-active>a{
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  color:#FFFFFF;
  background-color:#BDBDBD;
}
#description{
  padding-top:10px;
  padding-bottom:20px;
  color: #959595;
  width:100%;
  text-align:center;
}