/*
* @Author: Ed_Strickland
* @Date:   2016-03-18 10:55:41
* @Last Modified by:   Ed_Strickland
* @Last Modified time: 2016-03-21 08:46:42
*/

#preview{
  text-shadow:1px 1px 1px #d2d2d2;
  border:1px solid #E7E7E7;
  margin-bottom:60px;
  padding: 5px;
  min-height:100px;
}
#preview img{
  width:100%;
}
h1{
  font-weight:bold;
}
h2{
  font-weight:bold;
}
h3{
  font-weight:bold;
}
h4{
  font-weight:bold;
}
h5{
  font-weight:bold;
}
h6{
  font-weight:bold;
}

.project-create{
  margin-top:40px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
}
.project-create-box>h3{
  text-align:center;
  font-weight:bold;
  margin-bottom:50px;
  text-shadow:1px 1px 1px #d2d2d2;
}
.project-create-info{
  margin-top:20px;
  color:#4C4C4C;
  font-size:15px;
  font-weight:bold;
  text-shadow:1px 1px 1px #d2d2d2;
}
.project-create-info-view{
  margin-top:20px;
  color:#4C4C4C;
  font-size:15px;
  font-weight:bold;
  text-shadow:1px 1px 1px #d2d2d2;
}
.project-create-info-skill:hover{text-decoration:none}
.project-create-info-grey{
  margin-top:20px;
  color:#AFAFAF;
  font-size:15px;
  font-weight:bold;
  text-shadow:1px 1px 1px #d2d2d2;
}
.project-create-input-short{
  padding-left:10px;
  padding-right:10px;
  width:500px;
  height:35px;
  line-height:35px;
  background-color:#F3F3F3;
  border:1px solid#DEDEDE;
  box-shadow:0px 0px 5px #C7C7C7 inset;
}
.project-create-input-short:focus{
   background-color:#FFFFEA;
}
.project-create-input-long{
  width:500px;
  height:115px;
  padding-left:10px;
  padding-right:10px;
  background-color:#F3F3F3;
  border:1px solid#DEDEDE;
  box-shadow:0px 0px 5px #C7C7C7 inset;
  resize:none;
}
.project-create-input-long:focus{
   background-color:#FFFFEA;
}
.project-create-btn{
  width:60px;
  height:40px;
  padding:10px;
  background-color:#898989;
  color:#fff;
}
.project-create-btn:hover{
  color:#EAE9E9;
  text-decoration:none;
}
.project-create-btn:visited{
  color:#FFF;
  text-decoration:none;
}
.project-create-btn:focus{
  color:#EAE9E9;
  text-decoration:none;
}
.project-create-btn-div{
  margin-bottom:20px;
  text-align:center;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}
.tag-name{
  margin-left:4px;
  padding:2px;
  float:left;
  border:1px solid #989898;
  background-color:#989898;
  color:#fff;
  line-height:100%;
  margin-top:15px;
  margin-bottom:15px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none; /* you could also put this in a class */
  -webkit-user-select:none;/* and add the CSS class here instead */
  -ms-user-select:none;
  user-select:none;
}
.clicked{
  border:2px solid #D31919;
  margin-top:14px;
}
.tag-name:hover{
  cursor:default;
}